<header>
  <h1 class="site-title"><a href="./">Restuarant Management Website</a></h1>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink">
        <a href="./employees">Employees</a>
      </li>
      <li class="navitem navlink">
        <a href="./restaurant">Restaurant</a>
      </li>
      <li class="navitem navlink">
        <a href="./delivery">Delivery Locations</a>
      </li>
      <li class="navitem navlink">
        <a href="./menu">Menu</a>
      </li>
      <li class="navitem navlink">
        <a href="./customerrewards">Customer Rewards</a>
      </li>
      <li class="navitem navlink">
        <a href="./dish">Dish</a>
      </li>
      <li class="navitem navlink">
        <a href="./Users">User</a>
      </li>
    </ul>
  </nav>
</header>
