<body>
  {{> header}}
  <main class="container">
    <div class="form">
    <center><h1>Welcome to the Restaurant Management Website</h1></center>
    </div>

    <div class="form">
      <center><h1>Available Pages</h1></center>
      <div class="flex">
        <div class="page">
          <a href="./employees"><h3 class="input-text">Employees</h3></a>
        </div>
        <div class="page">
          <a href="./restaurant"><h3 class="input-text">Restaurant</h3></a>
        </div>
        <div class="page">
          <a href="./delivery"><h3 class="input-text">Delivery</h3></a>
        </div>
        <div class="page">
          <a href="./menu"><h3 class="input-text">Menu</h3></a>
        </div>
        <div class="page">
          <a href="./customerrewards"><h3 class="input-text">Customer Rewards</h3></a>
        </div>
        <div class="page">
          <a href="./dish"><h3 class="input-text">Dishes</h3></a>
        </div>
        <div class="page">
          <a href="./Users"><h3 class="input-text">Users</h3></a>
        </div>
    </div>
  </main>
</body>
