<body>
  {{> header}}
  <main class="container">
    <div class="form">
      <h1>Create New User</h1>
      <h3 class="input-text">Customer Name</h3>
      <input id="Customer-name" type="text" placeholder="Customer Name">
      <input id="Customer-create" type="submit" value="Create">
    </div>

    <div class="form">
      <h1>Search Users</h1>
      <h3 class="input-text">Customer Name</h3>
      <input id="Customer-nameS" type="text" placeholder="Customer Name">
      <input id="User-Search" type="submit" value="Search">
    </div>

  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/Users.js"></script>
</body>
